<div class="container mt-5">
  <h1 class="text-center">¡Bienvenido a Musify!</h1>
  <div class="row mt-5">
      <div class="col-md-12">
          <p class="text-center lead">Musify es una página web donde podrás encontrar un repertorio de canciones, indicando así el título de la canción, su género musical y el nombre del autor</p>
          <p class="text-center lead">En el apartado "Repertorio Musical" podrás encontrar esta lista. Podrás filtar la tabla por el género musical</p>
      </div>
  </div>

  <div class="row mt-5">
      <div class="col-md-4 text-center">
          <img src="/laoreja.jpg" alt="La oreja de Van Gogh - Lo que te contaba mientras te hacías la dormida" class="w-100">
      </div>
      <div class="col-md-4 text-center">
          <img src="/quevedo.jpg" alt="Quevedo - Buenas Noches" class="w-100">
      </div>
      <div class="col-md-4 text-center">
          <img src="/ninobravo.jpg" alt="Nino Bravo - Un beso y una flor" class="w-100">
      </div>
  </div>
</div>