<div class="row mt-5">
    <div class="col-md-12">
      <h2 class="text-center">Nuestro repertorio de canciones</h2>
      <table class="table table-striped table-bordered mt-3">
        <thead>
          <tr>
            <th scope="col">Título de la canción</th>
            <th scope="col">Género musical</th>
            <th scope="col">Nombre del autor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>La vida es un carnaval</td>
            <td>Salsa</td>
            <td>Celia Cruz</td>
          </tr>
          <tr>
            <td>Hotel California</td>
            <td>Rock</td>
            <td>Eagles</td>
          </tr>
          <tr>
            <td>Bohemian Rhapsody</td>
            <td>Rock</td>
            <td>Queen</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>