<div class="row mt-5 justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="mb-4">Nuestro repertorio de canciones</h2>
      <div class="form-group d-flex justify-content-center mb-4">
        <label for="filtroGenero" class="me-2 align-self-center">Filtrar por género:</label>
        <select
          id="filtroGenero"
          class="form-select form-select-sm w-25 text-center"
          [(ngModel)]="generoSeleccionado"
          (change)="filtrarPorGenero()"
        >
          <option *ngFor="let genero of generos" [value]="genero">
            {{ genero }}
          </option>
        </select>
      </div>
      <table class="table table-hover table-striped align-middle text-center shadow-sm rounded">
        <thead class="table-light">
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Género</th>
            <th scope="col">Autor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cancion of filteredCanciones">
            <td>{{ cancion.titulo }}</td>
            <td>{{ cancion.genero }}</td>
            <td>{{ cancion.autor }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>